/* Grid */

#project-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}

/* breakpoints */

@media only screen and (min-width: 768px) {
  #project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  #project-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
