/* General */

body {
  background-color: #181017;
  color: white;
}

img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

/* Typography */

body {
  font-family: "Faktum", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

p {
  margin-top: 0;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 1.7;
}

.caption {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 1.7;
  color: thistle;
}

.thistle {
  color: thistle;
}

.project-summary {
  color: white;
}

a {
  text-decoration: none;
}

.social-link {
  margin-bottom: 10px;
  color: white;
}

/* Misc */

.project-preview {
  margin-bottom: 40px;
}

.project-preview img {
  display: block;
}

/* Nav */

#logo {
  color: white;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
}

.menu-item,
.caption.git-link {
  color: rgba(255, 255, 255, 0.8);
}

.menu-item:hover,
.caption.git-link:hover {
  color: rgba(255, 255, 255, 1);
}

.menu-item {
  margin-left: 24px;
}

/* Nav */

nav {
  height: 100px;
  padding: 0 30px;
}

#here {
  padding-bottom: 4px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: pink;
}

#link-group {
  display: flex;
  flex-direction: column;
}

/* Layout */

.container {
  margin: auto;
  padding: 0 30px;
  max-width: 900px;
  margin: auto;
}

#hey {
  margin: 80px 0;
}

#bio-grid {
  max-width: 600px;
  margin: 80px auto;
}

footer {
  background-color: thistle;
}

/* Flexbox */

.container,
nav,
#bio-grid,
footer,
menu {
  display: flex;
}

.container {
  flex-direction: column;
}

nav {
  justify-content: space-between;
  align-items: center;
}

a#logo {
  flex-basis: 50%;
}

/* Portfolio Grid */

#bio-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
}

#project-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 768px) {
  #project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #bio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .statement {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}

@media only screen and (min-width: 1200px) {
  #project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #bio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
